/* => means section dividers for easier searching */
/* => Typography */

/* => Site-Wide */

/* => Adopt Page */

/* => Home Page */

/* => Team Page */

/* => Volunteer Page */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
label span{
    color:red;
}
.red {
    color: #FF0303;
}
.big-bold {
    font-size: 64;
    font-weight: 700px;
}

#volunteer {
    background-color: white;
    font-size: 17;
    font-family: 'Nunito', sans-serif;
}
#volunteerMainHeadingText {
    position: absolute;
    width: 1360px;
    height: 320px;
    left: 52px;
    top: 420px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#volunteerHeading{
    position: absolute;
    width: 1360px;
    height: 320px;
    left: 52px;
    top: 671px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;
    text-align: center;
    color: #FF0303;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}
#volunteer label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: absolute;    
}
.nameInput {
    width: 358px;
    height: 44px;
    left: 165px;
    top: 1001px;
}
#volunteer input, #volunteer select, #volunteer textarea{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    position: absolute;
    background: rgba(0, 0, 0, 0.04);
    border: 2px solid #000000;
    border-radius: 8px;
}
#firstNameInput {
    left: 100px;
    top: 1001px;
}
#firstNameLabel {
    width: 145px;
    height: 76px;
    left: 102px;
    top: 969px;        
}
#middleNameInput{
    width: 358px;
    height: 44px;
    left: 541px;
    top: 1001px
}
#middleNameLabel {
    width: 179px;
    height: 32px;
    left: 541px;
    top: 970px;
}
#lastNameInput {
    left: 981px;
    top: 1001px;
}
#lastNameLabel {
    width: 179px;
    height: 32px;
    left: 981px;
    top: 970px;
}
#monthInput{
    width: 99px;
    height: 43px;
    left: 103px;
    top: 1134px;
}
#dateLabel{
    width: 145px;
    height: 32px;
    left: 108px;
    top: 1096px;    
}
#dayInput{
    width: 99px;
    height: 43px;
    left: 224px;
    top: 1134px;
}
#yearInput{
    width: 112px;
    height: 43px;
    left: 345px;
    top: 1134px;
}
#interestedPositionInput{
    width: 358px;
    height: 43px;
    left: 539px;
    top: 1134px;
}
#interestedPositionLabel{
    width: 172px;
    height: 24px;
    left: 540px;
    top: 1100px;
}
#availableTimeAndDateInput{
    width: 358px;
    height: 44px;
    left: 981px;
    top: 1132px;
}
#availableTimeAndDateLabel{
    width: 209px;
    height: 32px;
    left: 981px;
    top: 1100px;
}
#phoneNumberInput{
    width: 358px;
    height: 44px;
    left: 103px;
    top: 1268px;
}
#phoneNumberLabel{
    width: 145px;
    height: 22px;
    left: 103px;
    top: 1236px;
}
#emailInput{
    width: 358px;
    height: 44px;
    left: 542px;
    top: 1268px;
}
#emailLabel{
    width: 179px;
    height: 32px;
    left: 540px;
    top: 1231px;
}
#streetAddressInput{
    width: 520px;
    height: 40px;
    left: 100px;
    top: 1401px;
}
#streetAddressLabel{
    width: 145px;
    height: 76px;
    left: 100px;
    top: 1369px;
}
#apartmentNumberInput{
    width: 172px;
    height: 40px;
    left: 715px;
    top: 1401px;
}
#apartmentNumberLabel{
    width: 145px;
    height: 22px;
    left: 715px;
    top: 1369px;    
}
#cityInput{
    width: 366px;
    height: 36px;
    left: 973px;
    top: 1405px;
}
#cityLabel{
    width: 145px;
    height: 42px;
    left: 973px;
    top: 1369px;
}
#stateInput{
    width: 158px;
    height: 38px;
    left: 103px;
    top: 1534px;
}
#stateLabel{
    width: 147px;
    height: 38px;
    left: 103px;
    top: 1496px;
}
#zipCodeInput{
    width: 158px;
    height: 38px;
    left: 304px;
    top: 1534px;
}
#zipCodeLabel{
    width: 147px;
    height: 38px;
    left: 304px;
    top: 1496px;
}
#volunteerReasonInput{
    width: 1236px;
    height: 294px;
    left: 102px;
    top: 1693px;    
}
#volunteerReasonLabel{
    height: 40px;
    width: 315px;
    left: 103px;
    top: 1643px;
}
#submitButton{
    box-sizing: border-box;
    padding: 3px 33px;
    position: absolute;
    width: 146px;
    height: 37px;
    left: 1125px;
    top: 2057px;
    border: 2px solid #000000;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    text-align:left;
    justify-content: flext-start;
}

#main-background-img-cropped img {
    fill-opacity: 40%;
    position: relative;
    z-index: -2;
    width: 1731px;
    left:-86px;
    overflow-x: hidden;
}
#main-background-img-cropped {
    z-index: -1;
    width: 1440px;
    height: 791px;
    overflow-x: hidden;
    position: relative;
    overflow: hidden;
}

/*navigation bar*/
.nav-bar {
    background-color: white;
    width: 1440px;
    height: 84px;
    font-size: 20px;
    padding:0;
    margin:0;
    border:0;
    margin-bottom: 40px;
}
.nav-bar h3 {
    position:absolute;
    font-family:nunito;
    color:black;
    font-weight: 900;
    left:64px;
    font-weight: 900;
    font-size:24px;
    top:26px;
    width:231px;
    height:31px;
    font-size:24px;
}
.nav-bar ul{
    display: block;
    float: right;
    overflow: hidden;
    list-style-type: none;
    position: relative;
    left:-40px;
    overflow:visible;
}
.nav-bar ul li{
    float: left;
    padding-left: 0px;
}
#volunteer-nav-bar {
    background: #2678F3;
    position:relative;
    color: white;
}
#volunteer-nav-bar:hover {
    color:#2678F3;
    background-color:#eee;
}

#volunteer footer {
    top:1200px;
    height: 533px;
    width: 100%;
    gap: 32px;
    position: relative;
    border-radius: 0px;
    padding: 48px 49px 48px 45px;
    background-color:#EFF6FF;
    color:#1D4ED8;
    font-family: Work Sans;
    letter-spacing: 0em;
    text-align: left;
    
}
#volunteer p{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    height: 16px;
    width: 465px;
    left: 122px;
    top: 100px;
    border-radius: nullpx;
    position:absolute;
}
#volunteer footer label {
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    top: 162px;
    left: 122px;
    position:absolute;

}
#volunteer-footer-title {
    position:absolute;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    height: 16px;
    width: 465px;
    left: 122px;
    top: 48px;
    border-radius: relative;
}
#volunteer footer textarea{
    height: 141px;
    width: 503px;
    left: 122px;
    top: 0px;
    border-radius: 0px;
    top: 212px;
    border-width:0;
    background-color:#D9D9D9;
}
#footer-link-title{
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    left:56px;
    top: 56px;
    position: absolute;
}
#footer-submit{
    left: 122px;
    top: 399px;
    border-radius: 0px;
    padding: 20px;
    width: 503px;
    height: 56px;
    position:absolute;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #1D4ED8;
    background-color: white;
    border: 2px dashed #1D4ED8;
}
#footer-submit:hover{
    background-color: #DDD;
}
#link-footer{
    position: absolute;
    left:830px;
    top:115px;
    background-color:#DBEAFE;
    width:503px;
    height:372px;
}
#footer-list{
    list-style-type:none;
    width:800px;
    position:absolute;
    left:56px;
    top:100px;
}
#link-social-media{
    list-style-type:none;
    width:800px;
    position:absolute;
    left:56px;
    top:270px;
}
#footer-list li, #link-social-media li{
    display: inline-block;
    padding-right:230px;
    padding-top:20px;
}
a {
    text-decoration: none;
}
.nav-bar ul li a{
    font-size: 20;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
    display: block;
    position: relative;
    text-align: center;
    border-radius: 8px;
    margin: 9px 16px;
    left: 32px;
    top: 18px;
}
.nav-bar ul li a:hover{
    color:#2678F3;
    background-color:#eee;
}
a:visited { 
    text-decoration: none; 
    color: inherit;
}